body {
  margin: 0;
  padding: 0;
}

#color-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: row wrap;
}

.color-block {
  min-width: 9vw;
  height: 12.5vh;
  flex: 1;
  transition-duration: 0.4s;
}

.color-block:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    z-index: 999;
}
